#ignorar todos os arquivos por extensao

*~
*.class
*.pyc
*.log
*.csv
*.o
*.err
*.rar
*.zip

/CreateMapArtificial/nbproject/private/
/CreateMapArtificial/build/
/CreateMapArtificial/test/

/ManagerSITL/nbproject/private/
/ManagerSITL/build/
/ManagerSITL/test/

/Modules-IFA/Alarm-PC/nbproject/private/
/Modules-IFA/Alarm-PC/build/
/Modules-IFA/Alarm-PC/test/

/Modules-IFA/Sonar-PC/nbproject/private/
/Modules-IFA/Sonar-PC/build/
/Modules-IFA/Sonar-PC/test/

/Modules-IFA/Temperature-Sensor-PC/nbproject/private/
/Modules-IFA/Temperature-Sensor-PC/build/
/Modules-IFA/Temperature-Sensor-PC/test/

/Modules-IFA/UAV-Ensemble-GA-GA_GA-GH/nbproject/private/
/Modules-IFA/UAV-Ensemble-GA-GA_GA-GH/build/
/Modules-IFA/UAV-Ensemble-GA-GA_GA-GH/test/

/Modules-IFA/UAV-Exec-PathReplanner-Massive/nbproject/private/
/Modules-IFA/UAV-Exec-PathReplanner-Massive/build/
/Modules-IFA/UAV-Exec-PathReplanner-Massive/test/

/Modules-IFA/UAV-Fixed-Route4s/nbproject/private/
/Modules-IFA/UAV-Fixed-Route4s/build/
/Modules-IFA/UAV-Fixed-Route4s/test/

/Modules-MOSA/Buzzer-PC/nbproject/private/
/Modules-MOSA/Buzzer-PC/build/
/Modules-MOSA/Buzzer-PC/test/

/Modules-MOSA/ScreenShot-PC/nbproject/private/
/Modules-MOSA/ScreenShot-PC/build/
/Modules-MOSA/ScreenShot-PC/test/

/Modules-MOSA/Video-PC/nbproject/private/
/Modules-MOSA/Video-PC/build/
/Modules-MOSA/Video-PC/test/

/ProcessDataFG/nbproject/private/
/ProcessDataFG/build/
/ProcessDataFG/test/

/UAV-Google-Maps/nbproject/private/
/UAV-Google-Maps/build/
/UAV-Google-Maps/test/

/UAV-Map-Converter/nbproject/private/
/UAV-Map-Converter/build/
/UAV-Map-Converter/test/

/UAV-Plot-Mission/nbproject/private/
/UAV-Plot-Mission/build/
/UAV-Plot-Mission/test/

/UAV-Route3DToGeo/nbproject/private/
/UAV-Route3DToGeo/build/
/UAV-Route3DToGeo/test/
